<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- ######### Appender configuration -->

    <!-- STDOUT APPENDER -->

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%15.15t] %50.50c> %d{yyyy.MM.dd HH:mm:ss} %-5p - %m%n" />
        </layout>
    </appender>

    <!-- FILE APPENDER -->

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="target/test.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="100MB" />
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%15.15t] %50.50c> %d{yyyy.MM.dd HH:mm:ss.SSS} %-5p - %m%n" />
        </layout>
    </appender>



    <!-- ######### Logger configuration -->

    <logger name="org.pcsoft.framework.jnode3d" additivity="false">
        <level value="debug"/>
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root>
        <priority value="error" />
        <appender-ref ref="stdout" />
    </root>

</log4j:configuration>
